.nav-header {
    display:flex;
    position:relative;
    background: $mainBlue;

    &__logo {
    background:$mainOrange;
    padding:0 1rem;

    }
    &--nav {
        position:absolute;
        right:10px;
        color:white;
    }
}