

.table {
    font-family:'Roboto';
    letter-spacing: 3px;

    &_thead{
    background:$mainBlue;
    color:#eee;
    & thead tr {
        background:$mainBlue;
    }
    & th {
    padding:.4rem 3rem;
    }

    
    }

}

tbody tr:nth-child(even) {
        background:$mainBlue;
        color:#eee;
    }